[package]
name = "zhttp-lsp"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[[bin]]
name = "zhttp-lsp"
path = "src/main.rs"

[dependencies]
tower-lsp = "0.20"
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
